alembic==1.14.1
asyncpg==0.30.0
bcrypt==4.2.1
databases[postgresql]==0.9.0
fastapi==0.115.6
passlib==1.7.4
psycopg2-binary==2.9.10
pydantic==2.10.4
PyJWT==2.10.1
python-decouple==3.8
SQLAlchemy==2.0.36
uvicorn[standard]==0.34.0
